src/*.exe
src/Soap
src/Soapd
src/test_Soap
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.Soap
#compilation and Qt preprocessor part
*.qm
.qmake.stash
Makefile
Soap-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
